/* Datei patternpark.css */
/* Style Sheet Dokument fuer engebundene html Dokumente im Pattern Park Lernprogramm  */

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
ul {
    margin-left: 10px;
}
